body{
 width:100%;
 font-family: "Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
 /* background-color: #25274d; */
}
#wrapper{
 margin-left: 50%;
 position: relative;
 text-align:center;
 transform: translate(-50%);
 width:995px;
}
#register_div{
 display:none;
}
section{
 background-color:white;
 width:300px;
 box-sizing:border-box;
 margin:10px;
 margin-left:347px;
 padding-bottom:10px;
 box-shadow:0px 0px 10px 0px #122A0A;
}
#wrapper section h1{
 color:#25274d;
 font-size:30px;
 margin:0px;
 background-color:#ff9b00;
 height:60px;
 line-height:65px;
}
section .change_link{
 color:#21610B;
}
section input[type="text"]{
 width:220px;
 height:40px;
 padding-left:5px;
 font-size:15px;
}
section input[type="email"]{
 width:220px;
 height:40px;
 padding-left:5px;
 font-size:15px;
}
section input[type="password"]{
 width:220px;
 height:40px;
 padding-left:5px;
 font-size:15px;
}
section input[type="submit"]{
 width:220px;
 height:40px;
 border:none;
 font-weight:bold;
 background: #25274d;
 color: #fff;
}
section .change_link input[type="button"]{
 background:none;
 border:none;
 text-decoration:underline;
 color:#2E64FE;
 font-size:15px;
 cursor:pointer;
}
